h1{
    padding: 0;
    margin: 0;
}
.banner {
    background-color: #007CBB;
    padding: 10px;
    margin: 0;
    color: white;
    
}
body {
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.cuerpo{
    padding-top: 50px;
    padding-left: 100px;
}
.inp_ban{
    padding-bottom: 0;
    margin-bottom: 0;
}
.inp_cuenta_destino {
    margin-bottom: 10px;
}
.transf_data {
    margin: 10px;
}
